@{
    ViewBag.Title = "欢迎使用CompanySales";
    Layout = "~/Views/Shared/_LayoutSign.cshtml";
}

<fieldset class="center-block text-center">
    <div class="form-group">
        <input class="form-control" type="text" id="txtUserID" placeholder="用户名或ID" />
    </div>
    <div class="form-group">
        <input class="form-control" type="password" id="txtPwd" placeholder="请输入密码" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="txtValidate" name="validateCode" placeholder="验证码" maxlength="4" required />
        <img id="imgValid" src="/Sign/GetValidateImg" alt="验证码" title="点我刷新" />
    </div>
    <div class="form-group">
        <div class="checkbox checkbox-container">
            <label title="为了您的安全，请不要在网吧或公用电脑上使用此功能">
                <input type="checkbox" id="chkAutoLogin" />三天内免登录
            </label>
        </div>
        <button class="btn btn-success btn-block" data-loading-text="Loading..." id="btnSignin">登录</button>
    </div>
    <div class="form-group">
        没有账号？<a href="/Sign/SignUpView" target="_self">点我注册</a>
    </div>
</fieldset>

@section MyStyle{
    <style>
        /*自动登录勾选框样式*/
        .checkbox-container {
            margin: 5px auto;
        }

        #txtValidate {
            width: 215px;
            display: inline;
        }

            #txtValidate + img {
                cursor: pointer;
            }
    </style>
}

@section MyScript{
    <script>
        $(function () {
            $('#btnSignin').on('click', signIn);

            $('#txtUserID,#txtPwd,#txtValidate').on('keydown', function (e) {
                // 回车事件
                if (e.keyCode == 13) {
                    // 手动触发按钮click事件
                    $('#btnSignin').trigger('click');
                }
            });

            //验证码刷新
            $('#txtValidate + img').on('click', function () {
                $(this).attr('src', '/Sign/GetValidateImg?rd=' + Math.random());
            });
        });

        function signIn() {
            var $btn = $(this).button('loading');

            var user = {
                userId: $('#txtUserID').val(),
                password: $('#txtPwd').val(),
                validateCode: $("#txtValidate").val(),
                isAutoLogin: $('#chkAutoLogin').prop('checked')
            };

            if (!(user.userId && user.password && user.validateCode)) {
                alert("用户名、密码、验证码不可为空！");
                $btn.button('reset');
                return;
            }

            $.post('/Sign/Login', user, function (resp) {
                var obj = getObjRes(resp);
                if (obj.Status) {
                    location.href = '/Home/MainView';
                } else {
                    alert(obj.Message);
                    // 登录失败冲刷验证码
                    $('#txtValidate + img').trigger('click');
                    $('#txtValidate').val('');
                    $('#txtValidate').focus();
                }
            }).always(function (e) {
                // always 完成回调，即不管success或error都将执行
                $btn.button('reset');
            });// post end
        }
    </script>
}