
@{
    ViewBag.Title = "ProductList";
}

@section Styles{
    <style>
        #tt1 td a {
            margin: 0 5px;
        }

        div.col-md-6 {
            left: 10px;
        }
    </style>
}

<div class="container-fluid">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">产品名称</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" id="txtProductName" />
                </div>
            </div>
            <button class="layui-btn" id="btnQuery">查询</button>
        </div>
    </form>
    <table class="layui-hide" id="tt1" lay-filter="tt1"></table>
</div>

<!--表头工具栏模板-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDelete">批量删除</button>
    </div>
</script>

<!--表格行内操作模板-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

@section Scripts{
    <script>
        layui.use(['jquery', 'table', 'form'], function () {
            initTable(); // 渲染表格
            initTableToolbar(); // 渲染表头工具栏（批量删除、导出等等）
            initTableInlineTool();// 表格行内编辑操作（编辑、删除、审核。。。）
            bindEvent();
        });

        // 初始化表格
        function initTable() {
            layui.table.render({
                elem: '#tt1'// 渲染表格的【lay-filter】
                , url: '/Product/GetListByPage' //请求数据的url
                , request: {// 请求附加参数，修改默认分页传参key的名称
                    pageName: 'pageindex'
                    , limitName: 'pagesize'
                }
                , method: 'post'
                , title: '产品列表'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , cols: [[// 绑定表格 数据列 配置
                  { type: 'checkbox', fixed: 'left' }
                  , { field: 'ProductID', title: '产品编号', fixed: 'left' }
                  , { field: 'ProductName', title: '产品名称' }
                  , { field: 'Price', title: '价格' }
                  , { field: 'ProductStockNumber', title: '库存数量' }
                  , { field: 'ProductSellNumber', title: '已售数量' }
                  , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
                , page: true// 开启分页
                , parseData: function (res) {// 对后端响应数据做进一步处理
                    return {
                        "code": 0// 返回成功有效code为0
                        , "count": res.Total
                        , "data": res.Rows
                    };
                }
            });
        }

        function bindEvent() {
            $('#btnQuery').click(function (e) {
                e.preventDefault();
                loadData();
            });
        }


        // 重新拉取数据并绑定至表格
        function loadData() {
            layui.table.reload('tt1', {
                where: {
                    ProductName: $('#txtProductName').val(),
                }
            });
        }

        // 行内编辑事件
        function initTableInlineTool() {
            layui.table.on('tool(tt1)', function (obj) {
                debugger;
                // 当前行数据，包括没有绑定表格显示的属性
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        var url = '/Product/DeleteById?id=' + data.ProductID;
                        $.get(url, function (resp) {
                            var ro = getObj(resp);
                            if (ro.Status) {
                                obj.del();// 仅仅在表格内移除行数据，不会重新请求数据
                                //loadData();
                                layer.close(index);
                            } else {
                                layer.msg('无法删除，请联系管理员！');
                            }
                        });
                    });
                } else if (obj.event === 'edit') {
                    editProduct(data.ProductID);
                }
            });
        }

        // 表头工具栏
        function initTableToolbar() {
            layui.table.on('toolbar(tt1)', function (obj) {
                debugger;
                // obj.config.id 即渲染表格的【lay-filter】，checkStatus获取选中行相关数据
                var checkStatus = layui.table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'batchDelete':
                        if (checkStatus.data.length == 0) {
                            layui.layer.msg('请选中数据后进行删除！');
                        } else {
                            var prodArray = checkStatus.data.map(function (t, i) {
                                return t.ProductID;
                            });

                            layer.confirm(`确认删除产品编号为${prodArray}的产品?`, function (e) {
                                deleteByBatch(prodArray);
                            });
                        }
                        break;
                };
            });
        }

        function deleteByBatch(arr) {
            var url = '/Product/BatchDelete';
            $.post(url, { ids: arr.join() }, function (resp) {
                var obj = getObj(resp);
                if (obj.Status) {
                    layui.layer.msg('批量删除成功！');
                    loadData();
                } else {
                    layui.layer.msg('发生异常，无法进行批量删除');
                    console.error(resp.Message);
                }
            });
        }

        function editProduct(id) {
            location.href = `/Product/ProductDetail?id=${id}`;
        }

    </script>
}