<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        body {
            margin: 0;
        }
    </style>
    @RenderSection("MyStyle", false)
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="~/Scripts/base.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("MyScript", false)
</body>
</html>