/*
!!!!!!!!!!!!!!!!!!!
注意！！！此脚本是初始化脚本，原有结构和数据会被删除重建！！！
!!!!!!!!!!!!!!!!!!!
*/

USE [CompanySales]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2019/10/15 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID('Customer') IS NOT NULL
DROP TABLE [Customer];

CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[ContactName] [char](8) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](100) NULL,
	[EmailAddress] [varchar](50) NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2019/10/15 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID('Department') IS NOT NULL
DROP TABLE [Department];

CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [varchar](30) NULL,
	[Manager] [char](8) NULL,
	[Depart_Description] [varchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2019/10/15 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID('Employee') IS NOT NULL
DROP TABLE [Employee];

CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[EmployeeName] [varchar](50) NULL,
	[Sex] [char](2) NULL,
	[BirthDate] [smalldatetime] NULL,
	[HireDate] [smalldatetime] NULL,
	[Salary] [money] NULL,
	[DepartmentID] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2019/10/15 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID('Product') IS NOT NULL
DROP TABLE [Product];

CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[ProductStockNumber] [int] NULL,
	[ProductSellNumber] [int] NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 2019/10/15 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID('Provider') IS NOT NULL
DROP TABLE [Provider];

CREATE TABLE [dbo].[Provider](
	[ProviderID] [int] NOT NULL,
	[ProviderName] [varchar](50) NULL,
	[ContactName] [char](8) NULL,
	[ProviderAddress] [varchar](100) NULL,
	[ProviderPhone] [varchar](15) NULL,
	[ProviderEmail] [varchar](20) NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Purchase_order]    Script Date: 2019/10/15 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('Purchase_order') IS NOT NULL
DROP TABLE [Purchase_order];

CREATE TABLE [dbo].[Purchase_order](
	[PurchaseOrderID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[PurchaseOrderNumber] [int] NULL,
	[EmployeeID] [int] NULL,
	[ProviderID] [int] NULL,
	[PurchaseOrderDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Purchase_order] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sell_Order]    Script Date: 2019/10/15 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('Sell_Order') IS NOT NULL
DROP TABLE [Sell_Order];

CREATE TABLE [dbo].[Sell_Order](
	[SellOrderID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[SellOrderNumber] [int] NULL,
	[EmployeeID] [int] NULL,
	[CustomerID] [int] NULL,
	[SellOrderDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Sell_Order] PRIMARY KEY CLUSTERED 
(
	[SellOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2019/10/15 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF OBJECT_ID('Users') IS NOT NULL
DROP TABLE [Users];

CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[UserId] [varchar](20) NULL,
	[Password] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[Roles] [varchar](100) NULL,
	[HeadImg] [varchar](200) NULL,
	[BirthDate] [smalldatetime] NULL,
	[Gender] [CHAR](2) NULL ,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customer] ([CustomerID], [CompanyName], [ContactName], [Phone], [Address], [EmailAddress]) VALUES (1, N'三川实业有限公司', N'刘明', N'030-88355547', N'上海市大崇明路 50 号', N'guy1@163.com')
INSERT [dbo].[Customer] ([CustomerID], [CompanyName], [ContactName], [Phone], [Address], [EmailAddress]) VALUES (2, N'远东科技有限公司', N'王丽丽', N'030-88355547', N'大连市沙河区承德西路 80 号', N'kevin0@163.com')
INSERT [dbo].[Customer] ([CustomerID], [CompanyName], [ContactName], [Phone], [Address], [EmailAddress]) VALUES (3, N'坦森行贸易有限公司', N'王炫皓', N'0321-88755539', N'上海市黄台北路 780 号', N'roberto0@163.com')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [Manager], [Depart_Description]) VALUES (1, N'销售部', N'王丽丽', N'主管销售')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [Manager], [Depart_Description]) VALUES (2, N'采购部', N'李嘉明', N'主管公司的产品采购')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [Manager], [Depart_Description]) VALUES (3, N'人事部', N'蒋柯南', N'主管公司的人事关系')
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [Sex], [BirthDate], [HireDate], [Salary], [DepartmentID]) VALUES (1, N'章宏', N'男', CAST(0x639E0000 AS SmallDateTime), CAST(0x96460000 AS SmallDateTime), 3100.0000, 1)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [Sex], [BirthDate], [HireDate], [Salary], [DepartmentID]) VALUES (2, N'李立三', N'女', CAST(0x72A80000 AS SmallDateTime), CAST(0x93070000 AS SmallDateTime), 3460.2000, 1)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [Sex], [BirthDate], [HireDate], [Salary], [DepartmentID]) VALUES (3, N'王孔若', N'女', CAST(0x6AF20000 AS SmallDateTime), CAST(0x8F8B0000 AS SmallDateTime), 3800.8000, 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [ProductStockNumber], [ProductSellNumber]) VALUES (1, N'路由器', CAST(4.50 AS Decimal(18, 2)), 100, 40)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [ProductStockNumber], [ProductSellNumber]) VALUES (2, N'果冻', CAST(1.00 AS Decimal(18, 2)), 2000, 1000)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [ProductStockNumber], [ProductSellNumber]) VALUES (3, N'打印纸', CAST(20.00 AS Decimal(18, 2)), 100, 1000)
INSERT [dbo].[Provider] ([ProviderID], [ProviderName], [ContactName], [ProviderAddress], [ProviderPhone], [ProviderEmail]) VALUES (1, N'上海友谊卷笔刀有限公司', N'陈云海', N'上海市南汇区南六公路1125弄三灶工业园区发展西路11号', N'0577-88335572', N'5er6@mail.zjitc.com')
INSERT [dbo].[Provider] ([ProviderID], [ProviderName], [ContactName], [ProviderAddress], [ProviderPhone], [ProviderEmail]) VALUES (2, N'深圳市金丰达科技有限公司', N'张小平', N'中国 广东 深圳市 福田区福华路２９号京海大厦１８Ｃ', N'0577-88335573', N'hjyu7@mail.zjitc.com')
INSERT [dbo].[Provider] ([ProviderID], [ProviderName], [ContactName], [ProviderAddress], [ProviderPhone], [ProviderEmail]) VALUES (3, N'文成软件有限公司', N'汤蓬蓬', N'福州市嘉禾区临江街 32 号', N'0569-67349882', N'liqiu@163.com')
INSERT [dbo].[Purchase_order] ([PurchaseOrderID], [ProductID], [PurchaseOrderNumber], [EmployeeID], [ProviderID], [PurchaseOrderDate]) VALUES (1, 9, 210, 18, 1, CAST(0x94AC0000 AS SmallDateTime))
INSERT [dbo].[Purchase_order] ([PurchaseOrderID], [ProductID], [PurchaseOrderNumber], [EmployeeID], [ProviderID], [PurchaseOrderDate]) VALUES (2, 8, 210, 26, 2, CAST(0x95260000 AS SmallDateTime))
INSERT [dbo].[Purchase_order] ([PurchaseOrderID], [ProductID], [PurchaseOrderNumber], [EmployeeID], [ProviderID], [PurchaseOrderDate]) VALUES (3, 9, 110, 32, 2, CAST(0x95450000 AS SmallDateTime))
INSERT [dbo].[Sell_Order] ([SellOrderID], [ProductID], [SellOrderNumber], [EmployeeID], [CustomerID], [SellOrderDate]) VALUES (1, 8, 200, 3, 1, CAST(0x94A20000 AS SmallDateTime))
INSERT [dbo].[Sell_Order] ([SellOrderID], [ProductID], [SellOrderNumber], [EmployeeID], [CustomerID], [SellOrderDate]) VALUES (2, 7, 200, 3, 2, CAST(0x951C0000 AS SmallDateTime))
INSERT [dbo].[Sell_Order] ([SellOrderID], [ProductID], [SellOrderNumber], [EmployeeID], [CustomerID], [SellOrderDate]) VALUES (3, 8, 100, 3, 2, CAST(0x953B0000 AS SmallDateTime))


SET IDENTITY_INSERT [dbo].[Users] ON 
INSERT [dbo].[Users] ([id], [name], [userid], [password], [address],[roles]) VALUES (1, N'管理员', N'admin', N'123', N'文津西路8号',N'admin')
INSERT [dbo].[Users] ([id], [name], [userid], [password], [address],[roles]) VALUES (2, N'jack', N'jj', N'123', N'downtown',N'')


