<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--log4net配置文件-->
  <log4net>
    <!-- 级别Level： NONE, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Print only messages of level DEBUG or above in the packages -->
    <!--预定义了一个具体日志对象的设置，可以设置多个。通过调用LogManager.GetLogger("xxx")方法，你可以检索具有该名字的日志。-->
    <logger name="WebLogger">
      <!--记录日志级别-->
      <level value="DEBUG"/>
      <!--记录到什么介质中-->
      <appender-ref ref="InfoFileAppender"/>
    </logger>

    <!--文本方式记录日志 -->
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender" >
      <!-- 最小锁定模型 允许多个进程可以写入同一个文件 -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- 输出到什么目录-->
      <param name="File" value="Logs\" />
      <!-- 是否覆写到文件中-->
      <param name="AppendToFile" value="true" />
      <!--创建方式，此处是日期，即每天创建一个日志文件 -->
      <param name="RollingStyle" value="Date" />
      <!-- 日志文件名，单引号包含字符串 拼接日期格式【yyyy-MM-dd】-->
      <param name="DatePattern" value="'log_'yyyy-MM-dd'.log'" />
      <!--是否静态文件名，即名称是否都是一样的-->
      <param name="StaticLogFileName" value="false" />
      <!--设置编码，否则中文可能会乱码-->
      <encoding value="utf-8" />
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <!--ConversionPattern 日志文件格式-->
        <param name="ConversionPattern" value="%d %-5p %F - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>