<?xml version="1.0" encoding="utf-8" ?>
<!--IOC.Service 抽象服务命名空间-->
<autofac defaultAssembly="Autofac.Service">
  <components name="0">
    <!--配置注入的类名和命名空间-->
    <!--<type>IOC.SqlServerDal.SqlServerHelper,IOC.SqlServerDal</type>-->
    <type>Autofac.OracleDal.OracleHelper,Autofac.OracleDal</type>
    <!--服务接口的名称(包含命名空间)-->
    <services name="0" type="Autofac.Service.IDataAccess" />
    <injectProperties>true</injectProperties>
  </components>
</autofac>