
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>进销存-主页</title>
    <meta charset="utf-8" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />

    <style type="text/css">
        div.layui-logo {
            font-size: 18px;
            font-weight: bolder;
            cursor: pointer;
        }

        div.layui-tab {
            margin: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        ul.layui-tab-title {
            height: 40px;
        }

        div.layui-tab-content {
            flex: auto;
        }

        div.layui-tab div.layui-tab-item {
            height: 100%;
        }

        li.layui-this {
            background-color: aliceblue;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">
                <i class="layui-icon layui-icon-face-smile"></i>
                ifly 进销存
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="btnRebuildData">初始化表结构和数据!!!</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <!--请求图片资源增加随机传参 ?rd=Math.random() 防止图片资源缓存 -->
                        <img id="imgHead" src="/Personal/GetUserImg?rd=Math.random()" class="layui-nav-img">
                        @ViewBag.CurUserID
                    </a>
                    <dl class="layui-nav-child" id="currentUserInfo">
                        <dd>
                            <a href="javascript:;" data-action="/Personal/BasicInfoView">基本资料</a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-action="/Personal/PasswordView">安全设置</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/Security/Logout">注销</a>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">
                            <i class="fa fa-3x fa-product-hunt" aria-hidden="true"></i>
                            <span>产品管理</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a class="menu-link" href="javascript:;" data-action="/Product/ProductList"
                                   data-menuid="prod-list"><span>产品列表</span></a>
                            </dd>
                            <dd>
                                <a class="menu-link" href="javascript:;" data-action="/Product/ProductDetail"
                                   data-menuid="prod-detail"><span>新增产品</span></a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="fa fa-3x fa-first-order" aria-hidden="true"></i>
                            <span>订单管理</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a class="menu-link" href="javascript:;" data-action="/Order/SellOrderList"
                                   data-menuid="sell-order"><span>销售订单</span></a>
                            </dd>
                            <dd>
                                <a class="menu-link" href="javascript:;" data-action="/Order/PurchaseOrderList"
                                   data-menuid="purchase-order"><span>采购订单</span></a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">
                            <i class="fa fa-3x fa-cloud" aria-hidden="true"></i>
                            <span>云市场</span>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">
                            <i class="fa fa-3x fa-cloud" aria-hidden="true"></i>
                            <span>发布商品</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-tab" lay-filter="tabContainer" lay-allowclose="true">
                <ul class="layui-tab-title"></ul>
                <div class="layui-tab-content"></div>
            </div>
        </div>


        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/base.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/layui/layui.all.js"></script>

    <script>
        /*
        layui.use 加载所需模块
        第一个参数是依赖的模块名称，
        第二个参数加载完成后的回调函数
        */
        layui.use(['element'], function () {
            bindEvent();
        });

        // 标记左侧菜单隐藏？
        var hideMenu = false;

        function bindEvent() {
            // 菜单事件绑定
            $('a.menu-link').click(function (e) {
                // 获取菜单选项配置的值，TODO后期可以考虑放入数据库中维护
                var url = $(this).attr('data-action');
                var tabName = $(this).text();
                var tabid = $(this).attr('data-menuid');

                addIndexTab(tabName, tabid, url);
            });

            // 个人基本信息操作绑定
            $('#currentUserInfo a').click(function (e) {
                var url = $(this).attr('data-action');
                var tabName = $(this).text();
                addIndexTab(tabName, tabName, url);
            });

            // 重新数据库，执行脚本保持最新表结构!!!
            $('#btnRebuildData').click(function (e) {
                $.post('/Home/RebuildData', null, function (resp) {
                    var ro = getObj(resp);
                    if (ro.Status) {
                        layui.layer.msg('重建成功！');
                    } else {
                        layui.layer.msg('无法重建，请检查异常信息');
                    }
                    // 选中样式有冲突，简单粗暴直接移除
                    $('#btnRebuildData').closest('li').removeClass('layui-this');
                });
            });

            // 点击logo实现左侧菜单栏的伸缩
            $('div.layui-logo').click(function (e) {
                //找出所有的span，即菜单文本，并判断是不是hidden
                $('li.layui-nav-item span').each(function () {
                    if ($(this).is(':hidden')) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });

                if (hideMenu) {
                    // 展开菜单
                    $('li.admin-itemed').removeClass('admin-itemed').addClass('layui-nav-itemed');
                    $('div.layui-side').css('width', '200px');
                    $('div.layui-body').css('left', '200px');
                    $('div.layui-footer').css('left', '200px');
                    hideMenu = false;
                } else {
                    // 收缩菜单
                    $('li.layui-nav-itemed').removeClass('layui-nav-itemed').addClass('admin-itemed');
                    $('div.layui-side').css('width', '50px');
                    $('div.layui-body').css('left', '50px');
                    $('div.layui-footer').css('left', '50px');
                    hideMenu = true;
                }
            });
        }

        /* 在主页选项卡上添加tab面板
        tabName:选项卡标题
        tabid：选项卡id，需要保持唯一
        src：选项卡内联框架iframe的src连接
        */
        function addIndexTab(tabName, tabid, src) {
            // layui tab容器的filter
            var tabFilter = 'tabContainer';

            //判断tab选项卡是否已存在
            var tabExist = $(`ul.layui-tab-title>li[lay-id=${tabid}]`).length > 0;

            if (!tabExist) {
                // 添加新的tab
                layui.element.tabAdd(tabFilter, {
                    title: tabName,//tab名称
                    content: `<iframe name="frmContent" src="${src}" frameborder="0"></iframe>`,//tab的内容
                    id: tabid//tab的id，用于change和close
                });
            }
            //选中指定id的tab选项卡
            layui.element.tabChange(tabFilter, tabid);
        }

        // 刷新头像，在内联框架中进行调用，用于上传头像后的及时更新
        function refreshHeadImg() {
            $('#imgHead').attr('src', '/Personal/GetUserImg?rd=' + Math.random());
        }
    </script>
</body>
</html>
