
@{
    ViewBag.Title = "BasicInfoView";
}

<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>个人信息维护</legend>
    </fieldset>

    <form class="layui-form" lay-filter="formUser" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户ID</label>
            <div class="layui-input-inline">
                <input type="text" lay-verify="required" placeholder="请输入" name="UserId"
                       class="layui-input layui-disabled">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" lay-verify="required" placeholder="请输入" name="Name" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="Gender" value="男" title="男" checked="">
                <input type="radio" name="Gender" value="女" title="女">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">出生日期</label>
                <div class="layui-input-block">
                    <input type="text" name="BirthDate" id="birthDate" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
        </div>

    </form>

    <fieldset class="layui-elem-field layui-field-title">
        <legend>头像上传</legend>
    </fieldset>

    <div class="layui-upload">
        <button type="button" class="layui-btn" id="btnUpload">上传图片</button>
        <div class="layui-upload-list">
            <!--请求图片资源增加随机传参 ?rd=Math.random() 防止图片资源缓存 -->
            <img class="layui-upload-img" id="preView" src="/Personal/GetUserImg?rd=Math.random()">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        layui.use(['form', 'laydate', 'layer', 'upload'], function () {
            init();
            bindEvent();
        });

        function init() {
            // 日期控件渲染
            layui.laydate.render({
                elem: '#birthDate'
            });
            bindData();
            initUpload();
        }

        // 保存按钮事件
        function bindEvent() {
            layui.form.on('submit(btnSave)', function (data) {
                console.log(data.field);//对应form表单提交的内容
                // 更新用户信息需要主键ID，从cookie中获取
                data.field.ID = $.cookie('u_id');
                $.post('/Personal/SaveUserInfo', data.field, function (resp) {
                    var ro = getObj(resp);
                    if (ro.Status) {
                        layui.layer.msg('保存成功！');
                    }
                });

                // 终止默认操作，即取消表单的submit
                return false;
            });
        }

        // 获取当前登录用户的详细信息，并绑定至页面，此处如有vue之类的双向绑定更加方便
        function bindData() {
            // 当前用户的ID保存在cookie中
            $.post('/Personal/GetUserInfo', { id: $.cookie('u_id') }, function (resp) {
                var ro = getObj(resp);

                // 使用moment.js类库，将【YYYY-MM-DD HH:mm:ss】调整为 【YYYY-MM-DD】
                ro.BirthDate = moment(ro.BirthDate).format('YYYY-MM-DD');
                layui.form.val('formUser', ro);
            });
        }

        // 上传图片初识化
        function initUpload() {
            layui.upload.render({
                elem: '#btnUpload'
                , url: '/Personal/SaveUserImg'
                //选择文件回调
                , choose: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        console.log(index); //得到文件索引
                        console.log(file); //得到文件对象
                        console.log(result); //得到文件base64编码，比如图片

                        $('#preView').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (resp) {
                    var ro = getObj(resp);
                    //如果上传失败
                    if (ro.Code > 0) {
                        console.error(ro.Message);
                        return layui.layer.msg('上传失败');
                    }
                    //上传成功
                    layui.layer.msg('上传成功！');
                    // 调用MainView中的刷新头像方法
                    window.parent.refreshHeadImg();
                }
                , error: function () {
                    layui.layer.msg('上传发生异常，请重新上传');
                }
            });
        }
    </script>
}