
@{
    ViewBag.Title = "PasswordView";
}

<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>安全服务</legend>
    </fieldset>

    <form class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">原始密码</label>
            <div class="layui-input-inline">
                <input type="password" lay-verify="required" placeholder="请输入" name="oldPwd"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" lay-verify="required" placeholder="请输入" name="newPwd"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" lay-verify="required" placeholder="请输入" name="newPwdRep"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="btnSave">更新</button>
        </div>
    </form>
</div>

@section MyScript{
    <script>
        layui.use(['form','layer'], function () {
            lay = layui;
            bind();
        });

        function bind() {
            layui.form.on('submit(btnSave)', function (data) {
                console.log(data.field);//对应form表单提交的内容
                $.post('/Personal/ChangePwd', data.field, function (resp) {
                    var obj = getObjRes(resp);
                    layui.layer.msg(obj.Message);
                });

                // 终止默认操作，即取消表单的submit
                return false;
            });
        }
    </script>
}