
@{
    ViewBag.Title = "主页";
}

<style>
    nav.navbar {
        margin-top: 10px;
    }
</style>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display 手机浏览有更好体验 -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Iflytek</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="menuAc" class="nav navbar-nav">
                <li class="active"><a href="/">主页 <span class="sr-only">(current)</span></a></li>
                @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            文章
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Article/ArticlesView" target="ifmMain">查看文章</a></li>
                            <li><a href="/Article/ArticlesViewPager" target="ifmMain">查看文章-分页</a></li>
                            <li><a href="/Article/EditArticleView" target="ifmMain">添加文章</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            类别
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Category/CategoryListView" target="ifmMain">查看类别</a></li>
                            <li><a href="/Category/EditCategoryView" target="ifmMain">添加类别</a></li>
                        </ul>
                    </li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Login/Logout">退出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<iframe id="ifmMain" name="ifmMain" src="" frameborder="0" scrolling="auto" style="width:100%;"></iframe>

<script>
    //内联框架高度自适应
    $(function () {
        resizeMainHeight();
        $(window).resize(resizeMainHeight);
        bindNavActiveStyle();
        initMenu();
    });

    function resizeMainHeight() {
        $("#ifmMain").height(window.innerHeight - 270);
    }

    //设置内联框架 src ，由内联框架内部js进行调用
    var setIframeSrc = function (url) {
        $("#ifmMain").attr("src", url);
    }

    //点击导航的样式控制
    function bindNavActiveStyle() {
        $("nav li").on("click", function () {
            $("nav li").removeClass("active");
            $(this).addClass("active");
        });
    }

    //动态菜单初始化
    function initMenu() {
        //获取菜单后进行遍历每个一级菜单进行append拼接
        $.post("/Home/GetMenuList", {}, function (data) {
            var arr = $.getObjFromData(data);
            $.each(arr, function (i, t) {
                if (t.PARENT_ID == null || t.PARENT_ID == "") {
                    var li = '<li class="dropdown">';
                    li += '<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">';
                    li += t.NAME + '<span class="caret"></span>';
                    li += '</a>';
                    li += getSubMenuStr(arr, t.ID);
                    li += '</li>';
                    $("#menuAc").append(li);
                }
            });

            //生成二级菜单的html
            function getSubMenuStr(arr, pid) {
                var str = '<ul class="dropdown-menu">';
                $.each(arr, function (i, t) {
                    if (t.PARENT_ID == pid) {
                        str += '<li>';
                        str += '<a href="' + t.URL + '" target="ifmMain">' + t.NAME + '</a>';
                        str += '</li>';
                    }
                });
                str += '</ul>';
                return str;
            }
        });

    }



</script>