.layui-layout-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

    .layui-layout-admin .layui-body {
        position: fixed;
        top: 90px;
        left: 220px;
        margin: 8px;
    }

.layadmin-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
