.layui-layout-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

    .layui-layout-admin .layui-body {
        position: fixed;
        top: 60px;
        left: 200px;
        margin: 8px;
    }

.layadmin-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layui-nav i.layui-icon {
    margin-right: 8px;
}

.layui-side-menu .layui-nav .layui-nav-item a {
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
    padding-right: 30px;
}

.layui-side-menu .layui-nav .layui-nav-item > a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.layui-side-menu .layui-nav .layui-nav-item a:hover {
    background: 0 0;
}
