

@{
    //母版页 Layout，默认Layout配置在 _ViewStart.cshtml 内，当为默认Layout时可以省略不显示的去写
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>布局的体验</h3>

<h1> Razor 语法</h1>
<p>
    html和后台代码
    @DateTime.Now
</p>

<h2>部分视图的使用</h2>
@*@{ Html.RenderPartial("~/Views/PartialView/PartialAutoComplete.cshtml");}*@

<hr/>

@{ Html.RenderPartial("~/Views/PartialView/PartialAutoComplete_jq.cshtml");}

