
@{
    ViewBag.Title = "SetTempDataView";
}

<h2>SetTempDataView</h2>

@*SetTempDataView 视图中跳转*@
<a href="@Url.Action("GetTempDataView","Transport2View")" target="_self">跳转到读取TempData页面</a>
@*和上面的写法一样*@
@*<a href="/Transport2View/GetTempDataView" target="_self">跳转到读取TempData页面</a>*@

