<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ARTICLE_DBEntities" connectionString="metadata=res://*/ArticleDemo.csdl|res://*/ArticleDemo.ssdl|res://*/ArticleDemo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ARTICLE_DB;persist security info=True;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>