<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ConnStr" value="server=.;database=ARTICLE_DB;uid=sa;pwd=1;" />
  </appSettings>
  <connectionStrings>
    <add name="ARTICLE_DBEntities" connectionString="metadata=res://*/ArticleDemo.csdl|res://*/ArticleDemo.ssdl|res://*/ArticleDemo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ARTICLE_DB;persist security info=True;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>