@{
    ViewBag.Title = "CompanySales";
}

@*https://www.layui.com/demo/layuiAdmin.html*@

<div class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">CompanySales</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <!--请求图片资源增加随机传参 ?rd=Math.random() 防止图片资源缓存 -->
                        <img id="imgHead" src="/Personal/GetUserImg?rd=Math.random()" class="layui-nav-img">
                        @ViewBag.UserName
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Personal/BasicInfoView" target="mainContent">基本资料</a></dd>
                        <dd><a href="/Personal/PasswordView" target="mainContent">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/Sign/Logout">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">

                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">订单管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/SellOrder/SellOrderListView" target="mainContent">销售订单</a></dd>
                            <dd><a href="/SellOrder/SellOrderListView">进货订单</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body" id="lay_app_body">
            <!-- 内容主体区域 -->
            <iframe src="/Home/SurveyView" name="mainContent" frameborder="0" class="layadmin-iframe"></iframe>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © AIIT
        </div>
    </div>

</div>
@section MyStyle{
    <link href="~/Content/my-admin.css" rel="stylesheet" />
}
@section MyScript{
    <script>
        layui.use(['form', 'element'], function () {
            var element = layui.element;

        });

        // 刷新头像，在内联框架中进行调用，用于上传头像后的及时更新
        function refreshHeadImg() {
            $('#imgHead').attr('src', '/Personal/GetUserImg?rd=' + Math.random());
        }
    </script>
}