@{
    ViewBag.Title = "管理中心";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="layui-side layui-bg-black admin-nav">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;"><i class="layui-icon layui-icon-app"></i><span>订单管理</span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="/SellOrder/SellOrderListView" target="mainContent"><span>销售订单</span></a>
                    </dd>
                    <dd>
                        <a href="/SellOrder/PurchaseOrderListView" target="mainContent"><span>进货订单</span></a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;"><i class="layui-icon layui-icon-snowflake"></i><span>产品管理</span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="/Product/ProductListView" target="mainContent"><span>产品列表</span></a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href=""><i class="layui-icon layui-icon-user"></i><span>员工管理</span></a></li>
        </ul>
    </div>
</div>

<div class="layui-body" id="lay_app_body">
    <!-- 内容主体区域 -->
    <iframe src="/SellOrder/SellOrderListView" name="mainContent" frameborder="0" class="layadmin-iframe"></iframe>
</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
    © AIIT
</div>

@section MyStyle{

}

@section MyScript{
    <script>
        var isShow = true;
        layui.use(['form', 'element'], function () {
            init();
        });

        function init() {
            $('#shrink').click(function () {
                //选择出所有的span，并判断是不是hidden
                $('.admin-nav .layui-nav-item span').each(function () {
                    if ($(this).is(':hidden')) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
                //判断isshow的状态
                if (isShow) {//收缩
                    $('#shrink i').removeClass();
                    $('#shrink i').addClass('layui-icon layui-icon-spread-left');
                    // 找到所有的展开列表，并收缩该列表项
                    $('.admin-nav .layui-nav-itemed').removeClass('layui-nav-itemed').addClass('admin-itemed');
                    $('.layui-side.layui-bg-black').width(60); //设置宽度
                    $('.kit-side-fold i').css('margin-right', '70%');  //修改图标的位置
                    //将footer和body的宽度修改
                    $('.layui-body').css('left', 60 + 'px');
                    $('.layui-footer').css('left', 60 + 'px');
                    //修改标志位
                    isShow = false;
                } else {//展开
                    $('#shrink i').removeClass();
                    $('#shrink i').addClass('layui-icon layui-icon-shrink-right');
                    // 找到收缩前已展开的列表项，侧栏展开时保持状态
                    $('.admin-nav .admin-itemed').removeClass('admin-itemed').addClass('layui-nav-itemed');
                    $('.layui-side.layui-bg-black').width(200);
                    $('.kit-side-fold i').css('margin-right', '10%');
                    $('.layui-body').css('left', 200 + 'px');
                    $('.layui-footer').css('left', 200 + 'px');
                    isShow = true;
                }
            });
        }

        // 刷新头像，在内联框架中进行调用，用于上传头像后的及时更新
        function refreshHeadImg() {
            $('#imgHead').attr('src', '/Personal/GetUserImg?rd=' + Math.random());
        }
    </script>
}