
@{
    ViewBag.Title = "EditProduct";
}

<div class="layui-fluid">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">产品描述</li>
            <li>图片描述</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>产品信息</legend>
                </fieldset>
                <form class="layui-form" method="post" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">产品名称</label>
                        <div class="layui-input-inline">
                            <input type="text" lay-verify="required" placeholder="请输入" name="ProductName"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">价格</label>
                        <div class="layui-input-inline">
                            <input lay-verify="required" placeholder="￥" name="Price" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">库存数量</label>
                        <div class="layui-input-inline">
                            <input lay-verify="required" name="ProductStockNumber" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">已售数量</label>
                        <div class="layui-input-inline">
                            <input lay-verify="required" name="ProductSellNumber" class="layui-input layui-disabled">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    </div>
                </form>
            </div>

            <div class="layui-tab-item">
                <div class="layui-upload img-container">
                    <button type="button" class="layui-btn layui-btn-normal" id="btnUpload">上传图片</button>
                    @*<div class="layui-upload-list">
                            <img class="layui-upload-img img-preview">
                            <button type="button" class="layui-btn layui-btn-warm layui-btn-sm">删除</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

</div>
<input type="hidden" id="hidProductID" value="@ViewBag.ProductID" />

@section MyStyle{
    <style>
        img.img-preview {
            width: 400px;
            height: 300px;
        }
    </style>
}
@section MyScript{
    <script>
        var lay = {};

        layui.use(['form', 'upload', 'layer', 'element'], function () {
            lay = layui;

            init();
            //bindSave();
        });

        function init() {
            bindData();
            initUpload();
            bindImages();
        }

        // 保存按钮事件
        function bindSave() {
            lay.form.on('submit(btnSave)', function (data) {
                console.log(data.field);//对应form表单提交的内容
                // 更新用户信息需要主键ID
                data.field.ID = $.cookie('ID');
                $.post('/Personal/SaveUserInfo', data.field, function (resp) {
                    var obj = getObjRes(resp);
                    if (obj.Status) {
                        lay.layer.msg('保存成功！');
                    }
                });

                // 终止默认操作，即取消表单的submit
                return false;
            });
        }

        // 获取当前登录用户的详细信息，并绑定至页面，此处如有vue之类的双向绑定更加方便
        function bindData() {
            $.post('/Product/GetProduct', { id: $('#hidProductID').val() }, function (resp) {
                var obj = getObjRes(resp);
                $('input[name=ProductName]').val(obj.ProductName);
                $('input[name=Price]').val(obj.Price);
                $('input[name=ProductStockNumber]').val(obj.ProductStockNumber);
                $('input[name=ProductSellNumber]').val(obj.ProductSellNumber);
            });
        }

        // 上传图片初识化
        function initUpload() {
            lay.upload.render({
                elem: '#btnUpload'
                , url: '/Product/UploadProductImg'
                , data: { productID: $('#hidProductID').val() }//额外参数
                , done: function (res, index, upload) {
                    lay.layer.msg(res.msg);

                    // 上传成功的话，则添加显示
                    if (res.code == 0) {
                        var html = '<div class="layui-upload-list">'
                                    + '<img class="layui-upload-img img-preview" >'
                                    + '<button type="button" class="layui-btn layui-btn-warm layui-btn-sm">删除</button>'
                                    + '</div>';
                        $('div.img-container').append(html);
                        $('div.img-container img:last').attr('src', '/Product/GetImageByPath?fullPath=' + res.data.src); //图片链接（base64）
                    }

                }//done end
                , error: function () {
                    lay.layer.msg('上传发生异常，请重新上传');
                }
            });
        }

        // 加载所有产品图片
        function bindImages() {
            $.post('/Product/GetImagesByProduct', {
                productID: $('#hidProductID').val()
            }, function (resp) {
                var arr = getObjRes(resp);
                // 循环添加img元素，并设置src加载图片
                $.each(arr, function (i, t) {
                    var html = '<div class="layui-upload-list">'
                    + '<img class="layui-upload-img img-preview" >'
                    + '<button type="button" class="layui-btn layui-btn-warm layui-btn-sm">删除</button>'
                    + '</div>';
                    $('div.img-container').append(html);
                    $('div.img-container img:last').attr('src', '/Product/GetImageByPath?fullPath=' + t.AttPath);
                });
            });
        }
    </script>
}