@{
    ViewBag.Title = "ProductListView";
}

<div class="layui-fluid sell-list">
    <div class="layui-row">
        <div class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">产品名称：</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" placeholder="请输入" id="ProductName">
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn" id="btnQuery">查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <table id="tt" lay-filter="listTable"></table>
    </div>
</div>

<!-- 行内编辑模板 -->
<script type="text/html" id="barDemo">
    <!-- layui 模板语法， d.XXXX为绑定数据行对应的属性，通过模板语法判断，只有状态为正常时才可以编辑 -->
    <!-- https://www.layui.com/doc/modules/laytpl.html 参考JavaScript表达式的用法 -->
    {{# if(['正常','被驳回'].indexOf(d.StateText)>-1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{# } else { }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="show">查看</a>
    {{# } }}
</script>

<!-- 表格工具栏 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">新增产品</button>
        <button class="layui-btn layui-btn-sm" lay-event="remove">批量删除</button>
        <!-- 判断当前用户角色ID -->
        {{# if($.cookie('RoleID')>0){ }}
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="pass">通过</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="reject">驳回</button>
        {{# } }}
    </div>
</script>

@section MyScript{
    <script>
        layui.use(['table', 'layer'], function () {
            init();
        });

        function init() {
            var tablein = initTable();

            // 绑定行内按钮事件 tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            layui.table.on('tool(listTable)', handleTableRow);

            // 绑定表格工具栏事件
            layui.table.on('toolbar(listTable)', handleTableTool);

            // 查询事件，重新绑定表格数据
            $('#btnQuery').click({ 'tablein': tablein }, bindTable);
        }

        // 初始化表格
        function initTable(table) {
            return layui.table.render({
                elem: '#tt'
                , url: '/Product/GetProductInfo'
                , method: 'POST'
                , toolbar: true
                , title: '销售记录'
                , toolbar: '#toolbar'
                //, totalRow: true//合计行
                , loading: true
                , height: 'full-80'// full-差值 高度铺满
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                  , { field: 'ProductName', title: '产品名称' }
                  , { field: 'Price', title: '售价' }
                  , { field: 'ProductStockNumber', title: '库存数量' }
                  , { field: 'ProductSellNumber', title: '累计销售' }
                  , { field: 'StateText', title: '状态' }
                  , { title: '操作', toolbar: '#barDemo' }
                ]]
                , page: true
                , response: {
                    statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                }
                , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": 200, //解析接口状态
                        "msg": '', //解析提示文本
                        "count": res.Total, //解析数据长度
                        "data": res.Rows //解析数据列表
                    };
                }
            });//table render end
        }//initTable end

        // 附带查询参数请求，重新绑定数据到表格
        function bindTable(e) {
            e.data.tablein.reload({
                where: {
                    ProductName: $('#ProductName').val()
                },
                page: {
                    page: 1
                }
            });// table reload end
        }

        // 行内事件处理
        function handleTableRow(obj) {
            // 该行数据对象
            var data = obj.data;
            if (obj.event === 'del') {
                layui.layer.confirm('真的删除行么', function (index) {
                    removeProduct(obj.data.ID);
                });
            } else {
                editProduct(obj.data.ID);
            }
        }

        // 处理表格工具栏
        function handleTableTool(obj) {
            // 包含勾选数据的对象
            var checkStatus = layui.table.checkStatus(obj.config.id);
            // map映射为 id 数组
            var arrIds = checkStatus.data.map(function (t, i) { return t.ID; });
            if (obj.event === 'add') {
                editProduct();
            } else if (arrIds.length > 0) {
                var url = '/Product/';
                var toolMsg = '';
                if (obj.event === 'pass') {
                    url += 'PassFlow';
                    toolMsg = '已审批';
                } else if (obj.event === 'reject') {
                    url += 'RejectFlow';
                    toolMsg = '已驳回';
                } else {
                    url += 'RemoveProduct';
                    toolMsg = '已删除';
                }
                $.post(url, { ids: arrIds }, function (resp) {
                    var resObj = getObjRes(resp);
                    if (resObj.Status) {
                        layer.msg(toolMsg + '成功!');
                        // 触发查询事件，重新载入表格数据
                        $('#btnQuery').trigger('click');
                    }
                });
            }
        }// handleTableTool end

        // 删除产品
        function removeProduct(id) {
            $.post('/Product/RemoveProduct', { ids: [id] }, function (resp) {
                var obj = getObjRes(resp);
                if (obj.Status) {
                    layui.layer.msg('已删除');
                    row.del();
                } else {
                    layui.layer.msg('无法删除');
                }
            });
        }

        // 编辑产品详情
        function editProduct(id) {
            layui.layer.open({
                type: 2//iframe层
                    , title: '产品详情'
                    , content: '/Product/EditProductView?id=' + id
                    , shade: 0.8//遮罩
                    , area: ['90%', '90%']//宽高设置
            });
        }
    </script>
}